body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
  text-align: center;
}

h1 {
  margin-top: 20px;
  color: #00ff88;
}

.selector button {
  margin: 10px;
  padding: 10px 20px;
  background: #7000ff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.calculator {
  width: 300px;
  margin: 30px auto;
  background: #111827;
  padding: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background: #1f2933;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #00ff88;
  color: black;
}

.clear {
  grid-column: span 4;
  background: red;
}
